# Trash
.DS_Store
Thumbs.db

# k8s / Kubernetes
kubeconfig
talosconfig

# Secrets
*.agekey
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt

# Config / Templates
.config.env
/config.yaml
/config-main.yaml
/cluster.yaml
/nodes.yaml

# Private / Personal
.private
.private/
.bin
.archive
.backup

# Ansible / Python
.venv*
.venv/
authorized_keys

# Taskfile
.task
.task/

# Brew
Brewfile.lock.json

# IntelliJ
.idea

# Wiki
wiki
